.formWrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    /* change to display flex to show the form */
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(46, 46, 46, 0.7);
}

form {
    display: flex;
    background-color: var(--boxBackground);
    border-radius: 20px;
    flex-direction: column;
    padding: 20px;
}

.readContainer input,
.readContainer p,
form label,
form button {
    margin-top: 20px;
}


.readContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.formButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: auto;
    justify-content: space-evenly;
}

.deleteCardButton,
#submitButton,
.readCardButton {
    background-color: var(--blue);
    border: none;
    border-radius: 15px;
    width: 120px;
    height: 30px;
    color: var(--boxBackground);
    font-weight: 700;
}